body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.section {
    padding: 96px 0px;
    margin: 0 auto;
}


.container{
    max-width: 428px;
    min-width:320px;
    padding: 0 16px;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*HEADER*/
@media only screen and (min-width: 768px) {
    .header {
        padding: 0;
    }
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .header-nav {
    display: flex;
    align-items: center;
    padding: 0 0;
    }
}

.logo{
    display: flex;
    padding: 24px 0;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    
}

.logo-studio{
    color: #2E2F42;

}

.nav-list{
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav-list {
        margin-left: 120px;
        display: flex;
        gap: 40px;
    }
}
@media only screen and (min-width: 1158px) {
    .nav-list {
        margin-left: 60px;
    }
}

.nav-list:last-child {
    margin-right: 0px;
}

.nav-list-item{
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.nav-link.active::after {
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

    position: absolute;
    bottom: -1px;
    left: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link-text {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.active {
    color: #404bbf;
}

.address {
    display: none;
}

@media only screen and (min-width: 768px) {
    .address {
        width: 120px;
        display: flex;
        flex-wrap: wrap;
        font-style: normal;
    }
}

@media only screen and (min-width: 1158px) {
    .address {
        width: auto;
        display: flex;
    }
}

@media only screen and (max-width: 767px) {
    .address-list {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .address-item:last-child {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        gap: 40px;
        margin-left: auto;
    }

    .adress-list-item:last-child{
        margin-right: 0px;
    }
}

.adress-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
@media only screen and (min-width: 768px) {
    .address-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (min-width: 1158px) {
    .address-link {
        font-size: 16px;
    }
}

.address-link .address-link:hover,
.address-link:focus {
    color: #404bbf;
}

    .mobile-menu-open-button {
        margin-left: auto;
        margin-left: auto;
        border: none;
        background-color: transparent;
        padding: 0;
        stroke: #2F2F37;
        line-height: 0;
    }

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background-color: #FCFCFC;
        transform: translateX(100%);
        transition: transform;
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu-close-button {
        position: absolute;
        top: 20px;
        right: 0;
        border-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2E2F42;
        background-color: #E7E9FC;
        border-radius: 4px;
    }
/*HERO*/
.hero{
    max-width: 1600px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/mob-hero-bg@2x.jpg");
  }

}

@media only screen and (min-width: 481px) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/tab-hero-bg.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/tab-hero-bg@2x.jpg");
        }
    }
}

@media only screen and (min-width: 769px) {
    .hero {
        background-image:linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/desk-hero-bg.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/desk-hero-bg@2x.jpg");
        }
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding: 112px 0;
        max-width: 1440px;
    }
}

.hero-wrap{
    widows: 320px;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .hero-wrap {
        width: 496px;
    }
}

.hero-title {
    color:#FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
    }
}

.order-button {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    transform: background-color;
    transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*BENEFITS*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media only screen and (min-width: 1158px) {
    .benefits {
        padding-bottom: 0;
    }
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
   
        justify-content: center;
       
        align-items: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .benefits-list {
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1158px) { 
    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 4);
    }
}

@media only screen and (max-width: 1157px) {
    .benefits-icon-container {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }
}




@media only screen and (max-width: 1158px) {
    .benefits-icon {
        display: none;
    }
}

.benefit-name{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .benefit-name {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .benefit-name {
        font-weight: 500;
        font-size: 20px;
    }
}
@media only screen and (max-width: 1157px) {
    .benefit-description {
        font-weight: 500;
    }
}

@media only screen and (min-width: 1158px) {
    .benefit-description {
        font-weight: 400;
    }
}

/*Team section*/

.team-section{
    background-color: #F4F4FD;
}

.team-wrap {}

@media only screen and (min-width: 768px) {
    .team-wrap {
        max-width: 584px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-wrap {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        gap: 72px 24px;
    }
}

.team-list-item{
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .team-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        margin-bottom: 0;
    }
}

.team-item-wrapper {
    padding: 32px 0;
}

.person-name{
    text-align: center;
    margin-bottom: 8px;
}

.persons-role{
    margin-bottom: 8px;
        text-align: center;
}

.person-socials-list{
    display: flex;
    width: 264px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

..person-socials-list-item{
    width: 40px;
    height: 40px;

}

.person-socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.person-socials-link:hover,
.person-socials-link:focus {
    background-color: #404BBF;
}

.team-icons{
    fill: #F4F4FD;
}

















    .mobile-menu-open-button {
        border: none;
        background-color: transparent;
        padding: 0;
        stroke: #2F2F37;
        line-height: 0;
    }

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background-color: #FCFCFC;
        transform: translateX(100%);
        transition: transform;
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu-close-button {
        position: absolute;
        top: 20px;
        right: 0;
        border-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2E2F42;
        background-color: #E7E9FC;
        border-radius: 4px;
    }


/*--END MOBILE HEADER STYLE-- */

/*TABLET HEADER STYLE */
@media screen and (min-width:768px) {

    .container{
        max-width: 736px;
    }

}
/*--END TABLET HEADER STYLE-- */

/*DESKTOP HEADER STYLE */

/*--END DESKTOP HEADER STYLE-- */