:root {
    --primary-text-color: #2e2f42;
    --secondary-text-color: #434455;
    --accent-text-color: #ffffff;
    --primary-bg-color: #ffffff;
    --btn-main-color: #4d5ae5;
    --btn-second-color: #f4f4fd;
    --footer-text: #f4f4fd;
    --accent-bg-color: #2e2f42;
    --secondary-acnt-bg-color: #f4f4fd;
    --focus-hover: #404bbf;
    --main-gradient: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7));
    --label-form-color: #8e8f99;

}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.section {
    padding: 96px 0px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container{
    min-width:320px;
    padding: 0 auto;
    margin: 0 auto;
}

.header{
    padding-top: 16px;
    padding-bottom: 16px;
    
}

.container-header{
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.logo{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    
}

.logo-studio{
    color: #2E2F42;

}



/*MOBILE HEADER STYLE */
.nav-list{
    display: none;
}

.address-list{
    display: none;
}

@media screen and (min-width:320px) {

    .container {
        max-width: 288px;
    }
        .mobile-menu-open-button {
            border: none;
            background-color: transparent;
            padding: 0;
            stroke: #2F2F37;
            line-height: 0;
        }
    
        .mobile-menu-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999999;
            width: 100%;
            height: 100%;
            background-color: #FCFCFC;
            transform: translateX(100%);
            transition: transform;
        }
    
        .mobile-menu-wrapper.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-container {
            position: relative;
        }
    
        .mobile-menu-close-button {
            position: absolute;
            top: 20px;
            right: 0;
            border-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
            stroke: #2E2F42;
            background-color: #E7E9FC;
            border-radius: 4px;
        }

}
/*--END MOBILE HEADER STYLE-- */

/*TABLET HEADER STYLE */
@media screen and (min-width:768px) {

    .container{
        max-width: 736px;
    }

}
/*--END TABLET HEADER STYLE-- */

/*DESKTOP HEADER STYLE */
@media screen and (min-width:1128px) {

    .container {
        max-width: 1158px;
    }

}
/*--END DESKTOP HEADER STYLE-- */